<h1>Editing Translator</h1>

<%= render 'form', translator: @translator %>

<%= link_to 'Show', @translator , class:"btn btn-primary" %> 
<%= link_to 'Back', translators_path, class:"btn btn-secondary" %>
