
 
<div class="container mb-5">
  <div id="main" class="card card-body">
  <h1>Kono Subarashii Sekai ni Shukufuku wo!
</h1><br>

<%= image_tag 'konosuba.jpg' , class:"img-fluid" %> <br>

<h5>Synopsis</h5>

<p style="text-indent: 50px;
">
  
After dying a laughable and pathetic death on his way back from buying a game, high school student and recluse Kazuma Satou finds himself sitting before a beautiful but obnoxious goddess named Aqua. She provides the NEET with two options: continue on to heaven or reincarnate in every gamer's dream—a real fantasy world! Choosing to start a new life, Kazuma is quickly tasked with defeating a Demon King who is terrorizing villages. But before he goes, he can choose one item of any kind to aid him in his quest, and the future hero selects Aqua. But Kazuma has made a grave mistake—Aqua is completely useless!

Unfortunately, their troubles don't end here; it turns out that living in such a world is far different from how it plays out in a game. Instead of going on a thrilling adventure, the duo must first work to pay for their living expenses. Indeed, their misfortunes have only just begun!
</p>

   <h2 class="title">Add Chapters</h2><br>
   <form id="addForm" class="form-inline mb-3">
     <input type="text" class="form-control mr-2 w-50" id="item">
     <input type="submit" class="btn btn-primary w-25" value="Submit">
     
   </form>
   <h2 class="title">Chapters</h2><br>
   <ul id="items" class="list-group">
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 1</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 2</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 3</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 4</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 5</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 6</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 7</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 8</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 9</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 10</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
   </ul>
  </div>
 </div>


 

 <script>
   
var form = document.getElementById('addForm');
var itemList = document.getElementById('items');

// Form submit event
form.addEventListener('submit', addItem);

//Delete event
itemList.addEventListener('click', removeItem);



//Add item
function addItem(e){
    e.preventDefault();

    var newItem = document.getElementById('item').value;
    
    //Create new li element

    var li = document.createElement('li');
    
    //Add class
    li.className = 'list-group-item';

    //Add text node with input value
    li.appendChild(document.createTextNode(newItem));

    // Create del button element
    var deleteBtn = document.createElement('button');

    //Add classes to del button
    deleteBtn.className = 'btn btn-danger btn-sm float-right delete';

    // Append text node
    deleteBtn.appendChild(document.createTextNode('X'));


    //Append button to li
    li.appendChild(deleteBtn);

    //Append li to list
    itemList.appendChild(li);


  
}

//Remove item
function removeItem(e){
    if(e.target.classList.contains('delete')){
       if(confirm('Are You Sure?')){
           var li = e.target.parentElement;
           itemList.removeChild(li);
          
       
       }
    }
}

 </script>