
 
<div class="container mb-5">
  <div id="main" class="card card-body">
  <h1>Kono Subarashii Sekai ni Shukufuku wo!
</h1><br>

<%= image_tag 'overlord.jpg' , class:"img-fluid" %> <br>

<h5>Synopsis</h5>
<p style="text-indent: 50px;
">
  
The final hour of the popular virtual reality game Yggdrasil has come. However, Momonga, a powerful wizard and master of the dark guild Ainz Ooal Gown, decides to spend his last few moments in the game as the servers begin to shut down. To his surprise, despite the clock having struck midnight, Momonga is still fully conscious as his character and, moreover, the non-player characters appear to have developed personalities of their own!

Confronted with this abnormal situation, Momonga commands his loyal servants to help him investigate and take control of this new world, with the hopes of figuring out what has caused this development and if there may be others in the same predicament.
</p>

   <h2 class="title">Add Chapters</h2><br>
   <form id="addForm" class="form-inline mb-3">
     <input type="text" class="form-control mr-2 w-50" id="item">
     <input type="submit" class="btn btn-primary w-25" value="Submit">
     
   </form>
   <h2 class="title">Chapters</h2><br>
   <ul id="items" class="list-group">
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 1</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 2</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 3</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 4</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 5</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 6</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 7</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 8</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 9</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 10</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
   </ul>
  </div>
 </div>


 

 <script>
   
var form = document.getElementById('addForm');
var itemList = document.getElementById('items');

// Form submit event
form.addEventListener('submit', addItem);

//Delete event
itemList.addEventListener('click', removeItem);



//Add item
function addItem(e){
    e.preventDefault();

    var newItem = document.getElementById('item').value;
    
    //Create new li element

    var li = document.createElement('li');
    
    //Add class
    li.className = 'list-group-item';

    //Add text node with input value
    li.appendChild(document.createTextNode(newItem));

    // Create del button element
    var deleteBtn = document.createElement('button');

    //Add classes to del button
    deleteBtn.className = 'btn btn-danger btn-sm float-right delete';

    // Append text node
    deleteBtn.appendChild(document.createTextNode('X'));


    //Append button to li
    li.appendChild(deleteBtn);

    //Append li to list
    itemList.appendChild(li);


  
}

//Remove item
function removeItem(e){
    if(e.target.classList.contains('delete')){
       if(confirm('Are You Sure?')){
           var li = e.target.parentElement;
           itemList.removeChild(li);
          
       
       }
    }
}

 </script>