
 
<div class="container">
  <div id="main" class="card card-body">
  <h1>Kono Subarashii Sekai ni Shukufuku wo!
</h1><br>

<%= image_tag 'rezero.jpg' , class:"img-fluid" %> <br>

<h5>Synopsis</h5>

<p style="text-indent: 50px;
">
  
When Subaru Natsuki leaves the convenience store, the last thing he expects is to be wrenched from his everyday life and dropped into a fantasy world. Things aren't looking good for the bewildered teenager; however, not long after his arrival, he is attacked by some thugs. Armed with only a bag of groceries and a now useless cell phone, he is quickly beaten to a pulp. Fortunately, a mysterious beauty named Satella, in hot pursuit after the one who stole her insignia, happens upon Subaru and saves him. In order to thank the honest and kindhearted girl, Subaru offers to help in her search, and later that night, he even finds the whereabouts of that which she seeks. But unbeknownst to them, a much darker force stalks the pair from the shadows, and just minutes after locating the insignia, Subaru and Satella are brutally murdered.

However, Subaru immediately reawakens to a familiar scene—confronted by the same group of thugs, meeting Satella all over again—the enigma deepens as history inexplicably repeats itself.

</p>

   <h2 class="title">Add Chapters</h2><br>
   <form id="addForm" class="form-inline mb-3">
     <input type="text" class="form-control mr-2 w-50" id="item">
     <input type="submit" class="btn btn-primary w-25" value="Submit">
     
   </form>
   <h2 class="title">Chapters</h2><br>
   <ul id="items" class="list-group">
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 1</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 2</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 3</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 4</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 5</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 6</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 7</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 8</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 9</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 10</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
   </ul>
  </div>
 </div>


 

 <script>
   
var form = document.getElementById('addForm');
var itemList = document.getElementById('items');

// Form submit event
form.addEventListener('submit', addItem);

//Delete event
itemList.addEventListener('click', removeItem);



//Add item
function addItem(e){
    e.preventDefault();

    var newItem = document.getElementById('item').value;
    
    //Create new li element

    var li = document.createElement('li');
    
    //Add class
    li.className = 'list-group-item';

    //Add text node with input value
    li.appendChild(document.createTextNode(newItem));

    // Create del button element
    var deleteBtn = document.createElement('button');

    //Add classes to del button
    deleteBtn.className = 'btn btn-danger btn-sm float-right delete';

    // Append text node
    deleteBtn.appendChild(document.createTextNode('X'));


    //Append button to li
    li.appendChild(deleteBtn);

    //Append li to list
    itemList.appendChild(li);


  
}

//Remove item
function removeItem(e){
    if(e.target.classList.contains('delete')){
       if(confirm('Are You Sure?')){
           var li = e.target.parentElement;
           itemList.removeChild(li);
          
       
       }
    }
}

 </script>