
 
<div class="container">
  <div id="main" class="card card-body">
  <h1>Kono Subarashii Sekai ni Shukufuku wo!
</h1><br>

<%= image_tag 'slime tensei.jpg' , class:"img-fluid" %> <br>

<h5>Synopsis</h5>

<p style="text-indent: 50px;
">
  
Thirty-seven-year-old Satoru Mikami is a typical corporate worker, who is perfectly content with his monotonous lifestyle in Tokyo, other than failing to nail down a girlfriend even once throughout his life. In the midst of a casual encounter with his colleague, he falls victim to a random assailant on the streets and is stabbed. However, while succumbing to his injuries, a peculiar voice echoes in his mind, and recites a bunch of commands which the dying man cannot make sense of.

When Satoru regains consciousness, he discovers that he has reincarnated as a goop of slime in an unfamiliar realm. In doing so, he acquires newfound skills—notably, the power to devour anything and mimic its appearance and abilities. He then stumbles upon the sealed Catastrophe-level monster "Storm Dragon" Veldora who had been sealed away for the past 300 years for devastating a town to ashes. Sympathetic to his predicament, Satoru befriends him, promising to assist in destroying the seal. In return, Veldora bestows upon him the name Rimuru Tempest to grant him divine protection.

Now, liberated from the mundanities of his past life, Rimuru embarks on a fresh journey with a distinct goal in mind. As he grows accustomed to his new physique, his gooey antics ripple throughout the world, gradually altering his fate.
</p>

   <h2 class="title">Add Chapters</h2><br>
   <form id="addForm" class="form-inline mb-3">
     <input type="text" class="form-control mr-2 w-50" id="item">
     <input type="submit" class="btn btn-primary w-25" value="Submit">
     
   </form>
   <h2 class="title">Chapters</h2><br>
   <ul id="items" class="list-group">
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 1</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 2</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 3</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 4</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 5</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 6</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 7</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 8</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 9</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
     <li class="list-group-item"><a href="https://cinnamontranslations.wordpress.com/2021/02/16/youjitsu-2nd-year-v4-prologue-amasawa-ichikas-monologue/">Chapter 10</a><button class="btn btn-danger btn-sm float-right delete">X</button></li>
   </ul>
  </div>
 </div>


 

 <script>
   
var form = document.getElementById('addForm');
var itemList = document.getElementById('items');

// Form submit event
form.addEventListener('submit', addItem);

//Delete event
itemList.addEventListener('click', removeItem);



//Add item
function addItem(e){
    e.preventDefault();

    var newItem = document.getElementById('item').value;
    
    //Create new li element

    var li = document.createElement('li');
    
    //Add class
    li.className = 'list-group-item';

    //Add text node with input value
    li.appendChild(document.createTextNode(newItem));

    // Create del button element
    var deleteBtn = document.createElement('button');

    //Add classes to del button
    deleteBtn.className = 'btn btn-danger btn-sm float-right delete';

    // Append text node
    deleteBtn.appendChild(document.createTextNode('X'));


    //Append button to li
    li.appendChild(deleteBtn);

    //Append li to list
    itemList.appendChild(li);


  
}

//Remove item
function removeItem(e){
    if(e.target.classList.contains('delete')){
       if(confirm('Are You Sure?')){
           var li = e.target.parentElement;
           itemList.removeChild(li);
          
       
       }
    }
}

 </script>