<div class="container text-center">
<h1 >About us</h1>
<h3>This a free translation site for specific light novels</h2>
<h3>A website is that made for everyone who wants to enjoy reading</h3>
<h3>Everyone is free to add their own translations </h3>
<h3>Giving us you information is optional</h3>
</div>


