<div class="bg-secondary p-5 text-center text-white">
  <h1>About Us </h1><br>
  <h4>Who Are We?</h4>
  <p>JepTranslations is a group of growing translators whose aim is to help individuals pursue their career as a translator</p>
  <h4>Why Us?</h4>
  <p>We can introduce your work to our viewers and help you get your first client</p>

</div> <br>

<h3 class="text-center">Our Partners</h3> <br>
<div class="d-flex justify-content-around">

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Maru Translations</h5>
      <p class="card-text"> Maru manages this translation site alone. He focuses on translating japanese comics/oneshots from twitter/pixiv.</p>
      <a href="https://www.google.com" class="btn btn-primary w-100">Contact</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Cinnamon Translations</h5>
      <p class="card-text">Known for translating popular lightnovels in japan. This translation site specialize in translating Classroom of the elites.</p>
      <a href="https://cinnamontranslations.wordpress.com/" class="btn btn-primary w-100">Contact</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Witch Cult Translations</h5>
      <p class="card-text">This translation site is dedicated to translate Re Zero series which has one of the largest franchise in light novel industry.</p>
      <a href="https://witchculttranslation.com/" class="btn btn-primary w-100">Contact</a>
    </div>
  </div>

</div>
