// Place all the styles related to the translators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.tweet{
    color: #00acee;
}
.ema{
    color: #D82D29;
}
.disco{
    color: #7289da ;
}
.cawfee{
    color: #0000ff;
}